body{
  box-sizing: border-box;
  background: #4f004d;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-family: "Gayathri", sans-serif;
  width: 100%;
  /* height: 100vh; */
  margin: 0px;
}
header{
  background: #ffffff;
  width: 100%;
  color: #4f004d;
  display: flex;
  justify-content: center;
  padding: 24px 0 8px 0;
  font-size: 24px;
  margin: -10px 0;
}
.nedra{
  margin-right: 16px;
}
section{
  display: flex;
  flex-direction: column;
  height: 100%;
}
img{
  margin-top: 40px;
  width: 200px;
  
  border-radius: 50%;
}
p{
  padding: 40px;
}
nav{
  height: calc(89vh - 90px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(0, 134, 191);
  width: 100%;
  margin-bottom: -100px;
  padding: 30px 0 50px 0;
}
a{
  padding: 14px;
  padding-top: 20px;
  width: 250px;
  margin: 12px;
  color: white;
  border-radius: 12px;
  text-decoration: none;
  text-align: center;
  font-size: 1.2rem;
}
.fb{
  background: rgb(59, 89, 152);
}
.fb:hover{
  background: rgb(79, 109, 172);
}
.insta{
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.insta:hover{
  /* background: rgb(255, 185, 20); */
  background: #e634af;
  background: radial-gradient(circle at 30% 107%, #ffffa7 0%, #ffffa7 5%, #ff6959 45%,#e634af 60%,#386AfB 90%);
}
.messenger{
  color: blue;
  background: white;
}
.younique{
  background-color: rgb(79, 0, 77);
}
.younique:hover{
  background-color: rgb(99, 20, 97);
}
/* footer{
  margin: -10px;
} */

@media (min-width: 650px){
  header{
    height: 70px;
    font-size: 50px;
    padding-top: 35px;
  }
  .nedra{
    margin-right: 250px;
  }
  img{
    margin-top: -90px;
    z-index: 1;
  }
  section{
    flex-direction: row;
    margin-top: -100px;
    /* z-index: -1; */
  }
  .bio{
    margin-top: 24vh;
    width: 50%;
    
  }
  section nav{
    width: calc(50% + 100px);
  }
  .fb{
    margin-top: 100px;
  }
}
@media (min-width: 1000px){
  header{
    font-size: 70px;
    height: 80px;
    padding-top: 45px;
  }
  .nedra{
    margin-right: 350px;
  }
  .bio{
    width: calc( 50% - 140px);
    padding-left: 100px;
    padding-right: 100px;
  }
  section{
    margin-top: -120px;
  }
  img{
    width: 220px;
    height: 220px;
  }
  p{
    width: 100px;
    font-size: 20px;
  }
  a{
    width: 350px;
  }
}

@media (max-height: 600px){
 section{
  height: 100%;
 }
 nav{
   height: 100%;
 }
}